body {
margin: 3;
}

.header {
    text-align: center;
    background-color: rgb(16, 239, 195);
}

.navigation {
    
}
.nav-list {
margin: 3;
padding: 0;
}

.nav-item {
list-style-type: selection;
}

.nav-link {

} 
